# Create an account
## Create a Test Merchant Account

<% form_tag 'https://api.beanstream.com/scripts/merchantaccount/createtestaccount.aspx',
    :id => 'createTestAccount_form', :class => 'form-group', :method => 'POST' do %>

  <%= hidden_field_tag :error_page_url, :value => current_page.data.temp_site_url + '/create_account.html' %>
  <%= hidden_field_tag :success_page_url, :value => current_page.data.temp_site_url + '/create_account.html' %>
  <%= hidden_field_tag :create_session, :value => '1' %>
  <%= hidden_field_tag :account_type, :value => 'DEVELOPER' %>

  <%= label_tag :user_login, :caption => 'Username: ' %>
  <%= label_tag :user_login, :caption => '6-32 chars. alphanumeric, hyphens, underscores, not spaces' %>
  <%= text_field_tag :user_login, :placeholder => 'Your username', :id => 'user_login', :required => true %>

  <%= label_tag :company_login, :caption => 'Company: ' %>
  <%= label_tag :company_login, :caption => '6-32 chars. alphanumeric, hyphens, underscores, not spaces' %>
  <%= text_field_tag :company_login, :placeholder => 'Your company', :id => 'company_login', :required => true %>

  <%= label_tag :user_email, :caption => 'Email: ' %>
  <%= email_field_tag :user_email, :placeholder => 'Your email', :id => 'user_email', :required => true %>

  <%= label_tag :user_password, :caption => 'Password: ' %>
  <%= label_tag :user_password, :caption => '8-16 chars including an uppercase and a lowercase char,
                                              and either a special char or a number' %>
  <%= password_field_tag :user_password, :placeholder => 'Your password', :id => 'user_password', :required => true %>

  <%= label_tag :confirm_password %>
  <%= password_field_tag :confirm_password, :placeholder => 'Confirm password', :id => 'confirm_password', :required => true %>

  <%= label_tag :country_and_currency %>
  <div class='mdl-selectfield'>
    <% opts = [['Your country and currency', '', {:disabled => true}],['Canada - CAD', 'CA-1'],
              ['Canada - USD', 'CA-2'], ['USA - USD', 'US-2'], ['UK - GBP', 'SE-3'], ['UK - Euro', 'SE-4']] %>
    <%= select_tag :country_and_currency, :options => opts, :selected => '', :id => 'country_and_currency', :required => true %>
  </div>

  <%= hidden_field_tag :merchant_country, :value => 'CA' %>
  <%= hidden_field_tag :merchant_currency, :value => '1' %>

  <%= submit_tag 'Create Test Merchant Account' %>
<% end %>
<div class='block-highlight hidden'><p></p></div>


## Apply for a Production Merchant Account
Test accounts are a fast way to get up and running, but you will need a Production account in order to process real transactions.
You can apply for a Production Merchant Account [here](http://www.beanstream.com/pricing/).

Here's what you'll need, here's the time frame, here are the steps...


## Request a Partner Account

<% form_tag 'https://formspree.io/'+current_page.data.partner_account_request_email,
    :id => 'requestPartnerAccount_form', :class => 'form-group formspree-form', :method => 'POST' do %>

  <%= label_tag :name %>
  <%= text_field_tag :name, :placeholder => 'Your name', :id => 'name', :required => true %>

  <%= label_tag :_replyto, :caption => 'Email: ' %>
  <%= email_field_tag :_replyto, :placeholder => 'Your email', :id => '_replyto', :required => true %>

  <%= label_tag :description %>
  <%= text_area_tag :description, :placeholder => 'Brief description of how you intend to use the API', :id => 'description', :required => true %>

  <%= hidden_field_tag :_subject, :value => 'Partner Account Request' %>
  <%= hidden_field_tag :_cc %>
  <%= hidden_field_tag :_next, :value => '/create_account.html#request-a-partner-account' %>
  <%= hidden_field_tag :_to, :value => current_page.data.partner_account_request_email %>

  <%= submit_tag 'Request Partner Account' %>
<% end %>
<div class='block-highlight hidden'><p></p></div>

Request access to Onboarding APIs: http://developer.beanstream.com/documentation/onboarding-api/#sign_up_for_access (Note: this just sends email)


## Request access to SproutPOS SDK

<% form_tag 'https://formspree.io/'+current_page.data.sproutpos_sdk_request_email,
    :id => 'requestSproutSDK_form', :class => 'form-group formspree-form', :method => 'POST' do %>

  <%= label_tag :first_name %>
  <%= text_field_tag :first_name, :placeholder => 'Your first name', :id => 'first_name', :required => true %>

  <%= label_tag :last_name %>
  <%= text_field_tag :last_name, :placeholder => 'Your last name', :id => 'last_name', :required => true %>

  <%= label_tag :company %>
  <%= text_field_tag :company, :placeholder => 'Your company', :id => 'company', :required => true %>

  <%= label_tag :country %>
  <div class='mdl-selectfield'>
    <% opts = [['Your country', '', {:disabled => true}], ['Canada'], ['United States']] %>
    <%= select_tag :country, :options => opts, :selected => '', :id => 'country', :required => true %>
  </div>

  <%= label_tag :_replyto, :caption => 'Email: ' %>
  <%= email_field_tag :_replyto, :placeholder => 'Your email', :id => '_replyto', :required => true %>

  <%= check_box_tag :android, :id => 'android', :value => 'True' %>
  <%= label_tag :android, :caption => 'I\'d like access to the Andorid SDK', :class => 'checkbox' %>

  <%= check_box_tag :iOS, :id => 'iOS', :value => 'True' %>
  <%= label_tag :iOS, :caption => 'I\'d like access to the iOS SDK', :class => 'checkbox' %>

  <%= check_box_tag :license_areement, :id => 'license_areement', :value => 'True', :required => true %>
  <%= label_tag :license_areement, :caption => 'I agree to the license agreement', :class => 'checkbox', :required => true %>

  <%= hidden_field_tag :_subject, :value => 'SproutPOS SDK Request' %>
  <%= hidden_field_tag :_cc %>
  <%= hidden_field_tag :_next, :value => '/create_account.html#request-access-to-sproutpos-sdk' %>
  <%= hidden_field_tag :_to, :value => current_page.data.sproutpos_sdk_request_email %>

  <%= submit_tag 'Request SproutPOS SDK Access' %>
<% end %>
<div class='block-highlight hidden'><p></p></div>

<%= javascript_include_tag 'js/create_test_account.js' %>

Request access to SproutPOS SDKs: http://developer.beanstream.com/documentation/sprout/ (Note: this just sends email)

ToDo: Add form and T&Cs page.

## Order SproutPOS terminals
Request SproutPOS terminals: http://sproutpos.com/existing-beanstream-customer/
