<%# If page has has no includes, provide single 'edit on github' link %>
<% if not current_page.data.includes %> 
<a id="edit-on-github" href="<%= github_edit_link current_page.source_file %>">
  Edit this page
</a>

<%# Otherwise, page provides multiple includes, provide dropdown 
'edit on github' links %>
<% else %> 
<div id="edit-on-github" class="dropdown dropdown-open-on-hover" role="listbox">
  Edit this page

  <ul>
    <%# Base page edit %>
    <li class="dropdown-title">Base page:</li>
    <li role="option">
      <a href="<%= github_edit_link current_page.source_file %>">
        <%= current_page.source_file.split('/').last %>
      </a>
    </li>

    <%# partials edit %> 
    <li class="dropdown-title">Includes:</li>
    <% current_page.data.includes.each do |include| %> 
      <li role="option">
        <a href="<%= github_edit_include_link include %>">
          <%= include.split('/').last %>.md
        </a>
      </li>
    <% end %> 
  </ul>
</div>    
<% end %>

<!-- Modal apears on link click -->
<div class="modal-overlay">
  <div class="modal github-modal" role="dialog">
      <h3 class="js-toc-ignore">Edit on Github</h3>

      <p> 
      To propose changes to the Developer Portal click the link below and follow these steps: 
      </p>

      <ol>
        <li>Sign in to Github. You will have to create an account if you don't already have one.</li>
        <li>Click the <strong>Fork this repository and propose changes </strong>button.</li>
        <li>Make your proposed changes to the file. Content is formatted with <a href="http://commonmark.org/help/">Markdown.</a></li>
        <li>At the bottom of the page, optionally add a title and description to your changes, and click the <strong>Propose file change button</strong>.</li>
        <li>On the next page, click <strong>Create pull request</strong>, and then click it again.</li>
        <li>You're done! Someone will review your changes and they will appear on the site shortly.</li>
      </ol>

      <div class="btn-row">
          <a href="#" class="btn continue-to-github" target="_blank">Continue to Github</a>
          <button class="btn btn-secondary close-modal">Cancel</button>
      </div>
  </div>
</div>