<div class="footer-buffer"></div>
<footer>

    <% if current_page.data.navigation %>
        <% footer = data["#{current_page.data.navigation.nav_file}"].footer %>
    <% end %>

    <% if footer %> 

        <% if footer.copyright %>
            <%= "© " + footer.copyright %>
        <% end %>

        <div class="links">
            <% footer.left_links and footer.left_links.each do |link| %>
                <a href="<%= link.link %>"><%= link.title %></a>
            <% end %>
        </div>
        
        <div class="pull-right">
            <% footer.right_links and footer.right_links.each do |link| %>
                <a href="<%= link.link %>"><%= link.title %></a>
            <% end %> 
        </div>

    <% end %>
</footer>