<%# Get page defined nav %> 
<% if current_page.data.nav %>
    <% nav = data["#{current_page.data.nav}"].header %>
<% else %>
    <% nav = data.nav.header %>
<% end %> 

<nav class="nav-pane">
    <div class="pull-left nav-links">
    <a href="<%= nav.logo_link %>" class="logo">
        <%# set logo version based on hero image %> 
        <% if current_page.data.hero_unit and current_page.data.hero_unit.hero_image %>
            <%= image_tag "svg/zebraffe-dev-white.svg" %>
        <% else %>
            <%= image_tag "svg/zebraffe-dev.svg" %>
        <% end %>
    </a>

    <% nav.links and nav.links.each do |link| %>
        <a href="<%= link.file %>.html"><%= link.title %></a>
    <% end %>
    </div>

    <div class="pull-right">
        
        <a id="search-button" href="#"><%= svg "search" %></a>
        
        <% nav.buttons and nav.buttons.each do |btn| %>
            <a href="<%= btn.file %>.html" class="btn btn-small"><%= btn.title %></a>
        <% end %>

        <% if not current_page.data.includes %>
            <a class="btn btn-small" href="<%= github_edit_link current_page.source_file %>" target="_blank">Improve this page</a> 
        <% else %>
            <div class="dropdown-nav dropdown-open-on-hover" role="navigation">
                Improve this page
                <ul role="menu">

                    <li role="menuitem"><a href="<%= github_edit_link current_page.source_file %>" target="_blank"><strong><%= current_page.source_file.split('/').last %></strong></a></li>

                    <% current_page.data.includes.each do |include| %>
                        <li role="menuitem"><a href="<%= github_edit_include_link include %>" target="_blank"><%= include.split('/').last %>.md</a></li>
                    <% end %>
                </ul>
            </div>        
        <% end %>
    </div>
</nav>


<div id="search-overlay">
    <%= partial "layouts/search_overlay" %>
</div>