<% nav = get_data_from_frontmatter(current_page.data.navigation.nav_file).header %>

<% using_hero_image = (current_page.data.hero_unit and current_page.data.hero_unit.hero_image) %>

<% if using_hero_image %>
<nav class="nav-pane nav-fixed nav-pane-transparent">
<% else %>
<nav class="nav-pane nav-fixed">
<% end %>
    <div class="pull-left nav-links">
    <a href="<%= nav.logo_link %>" class="logo">
        <%# set logo version based on hero image %> 
        <% if current_page.data.hero_unit and current_page.data.hero_unit.hero_image %>
            <%= image_tag "svg/zebraffe-dev-white.svg" %>
        <% else %>
            <%= image_tag "svg/zebraffe-dev.svg" %>
        <% end %>
    </a>

    <% nav.links and nav.links.each do |link| %>
        <% if link.title == current_page.data.navigation.header_highlight %>
            <a href="<%= link.file %>" class="active"><%= link.title %></a>
        <% else %>
            <a href="<%= link.file %>"><%= link.title %></a>
        <% end %>
    <% end %>
    </div>

    <div class="pull-right">
        
        <a id="search-button" href="#"><%= svg "search" %></a>
        <% nav.buttons and nav.buttons.each do |btn| %>
            <% if not btn.secondary %> 
                <a href="<%= btn.file %>" class="btn btn-small">
                    <%= btn.title %>
                </a>
            <% else %> 
                <a href="<%= btn.file %>" class="btn btn-small btn-secondary">
                    <%= btn.title %>
                </a>
            <% end %>
        <% end %>
    </div>
</nav>

<div id="search-overlay">
    <%= partial "layouts/search_overlay" %>
</div>