<a href="#" id="nav-button">
    <span>
    NAV
    <%= image_tag('navbar.png') %>
    </span>
</a>

<div class="tocify-wrapper">
    
    <% if language_tabs %>
    <div class="lang-selector">
        <% language_tabs.each do |lang| %>
        <% if lang.is_a? Hash %>
            <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
        <% else %>
            <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
        <% end %>
        <% end %>
    </div>
    <% end %>

    <% if current_page.data.search %>
    <div class="search">
        <input type="text" class="search" id="input-search" placeholder="Search">
    </div>
    <ul class="search-results"></ul>
    <% end %>

    <% if current_page.data.toc_above %>
    <ul class="toc-nonfocus">
        <% current_page.data.toc_above.each do |above| %>
        <li><%= above %></li>
        <% end %>
    </ul>
    <% end %>

    <div id="toc">
    </div>
    
    <% if current_page.data.toc_below %>
    <ul class="toc-nonfocus">
        <% current_page.data.toc_below.each do |below| %>
        <li><%= below %></li>
        <% end %>
    </ul>
    <% end %>

    <div class="nav-bottom">
    <% if current_page.data.toc_footers %>
    <ul class="toc-footer">
        <% current_page.data.toc_footers.each do |footer| %>
        <li><%= footer %></li>
        <% end %>
    </ul>
    <% end %>
    
    </div>
</div>
