<!doctype html>
<html>
  <head>
    <%= partial "layouts/head" %>
  </head>

  <body class="<%= page_classes %>">

    <%= partial "layouts/header" %>

    <div class="container">
          
      <div class="page-heading">   
        <h1><%= current_page.data.big_heading %></h1>
        <p><%= current_page.data.tag_line %></p>
      </div>

      <% current_page.data.card_sets.each do |card_set| %> 
        <div class="row card-set"> 
          <div class="col-md-3">
            <hr>
            <h2><%= card_set.title %></h2>
            <p>
              <%= card_set.description %>
            </p>
          </div>
        
          <div class="col-md-8 col-md-offset-1">
            <%= partial("layouts/flex_cards", :locals => { :cards => card_set.cards }) %>
          </div>
        </div>
      <% end %>

    </div> <!-- /.container  -->

    <%= partial "layouts/footer" %>

  </body>
</html>
