<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    
    <title>V2</title>

    <%= stylesheet_link_tag :bambora %>
    <%= stylesheet_link_tag :portal %>
    <%= stylesheet_link_tag :landing %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>
  </head>

  <body class="<%= page_classes %>">

    <%= partial "layouts/header" %>

    <div class="container">
          
      <div class="page-heading">   
        <h1><%= current_page.data.big_heading %></h1>
        <p><%= current_page.data.tag_line %></p>
      </div>

      <% current_page.data.card_sets.each do |card_set| %> 
        <div class="row card-set"> 
          <div class="col-md-3">
            <hr>
            <h2><%= card_set.title %></h2>
            <p>
              <%= card_set.description %>
            </p>
          </div>
        
          <div class="col-md-8 col-md-offset-1">
            <%= partial("layouts/flex_cards", :locals => { :cards => card_set.cards }) %>
          </div>
        </div>
      <% end %>

    </div> <!-- /.container  -->

    <%= partial "layouts/footer" %>

  </body>
</html>
