<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    
    <title>V2</title>

    <%= stylesheet_link_tag :bambora %>
    <%= stylesheet_link_tag :portal %>
    <%= stylesheet_link_tag :landing %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>
  </head>

  <body class="<%= page_classes %>">

    <%= partial "layouts/header" %>

    <div class="container">
          
      <div class="jumbotron">   
        <h1>Build it with Bambora.</h1>
        <p>Start accepting payments with code made by developers world wide.</p>
      </div>

      <div class="row">
        <hr>
        <div class="col-md-4">
          <h2>Get Started.</h2>
          <p>
            Bambora makes it easy to accept payments in your app or website. 
            Get integrated quickly using our guides and selecting from our 
            range of SDKs.
          </p>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4 card">card 1</div>
            <div class="col-md-4 card">card 2</div>
          </div>
          <div class="row">
            <div class="col-md-4 card">card 3</div>
            <div class="col-md-4 card">card 4</div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <hr>
        <div class="col-md-4">
          <h2>Upcoming Events.</h2>
          <p>
            Bambora makes it easy to accept payments in your app or website. 
            Get integrated quickly using our guides and selecting from our 
            range of SDKs.  
          </p>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4 card">card 1</div>
            <div class="col-md-4 card">card 2</div>
          </div>
          <div class="row">
            <div class="col-md-4 card">card 3</div>
            <div class="col-md-4 card">card 4</div>
          </div>
        </div>
      </div>
        
        <%# yield %>

    </div>
    
    <%= partial "layouts/footer" %>

  </body>
</html>
