<!doctype html>
<html>
  <head>
    <%= partial "layouts/head" %>
  </head>

  <body class="<%= page_classes %>">

    <% if current_page.data.hero_image %>
      <div class="hero" style="background-image: url('/images/<%= current_page.data.hero_image %>');">
      <%= partial "layouts/header" %>

        <div class="container">
          <div class="page-heading">   
            <h1><%= current_page.data.big_heading %></h1>
            <p><%= current_page.data.tag_line %></p>
            <a class="btn">Get Started</a>
          </div>
        </div>
      </div>
    <% else %>
      <%= partial "layouts/header" %>
    <% end %>  

    <div class="container">

      <% unless current_page.data.hero_image %>
          <div class="no-hero page-heading">   
            <h1><%= current_page.data.big_heading %></h1>
            <p><%= current_page.data.tag_line %></p>

            <a class="btn">Get Started</a>
          </div>
      <% end %>

      <% current_page.data.card_sets.each do |card_set| %> 
        <div class="row card-set"> 
          <div class="col-md-3">
            <hr>
            <h2><%= card_set.title %></h2>
            <p>
              <%= card_set.description %>
            </p>
          </div>
        
          <div class="col-md-8 col-md-offset-1">
            <%= partial("layouts/flex_cards", :locals => { :cards => card_set.cards }) %>
          </div>
        </div>
      <% end %>

    </div> <!-- /.container  -->

    <%= partial "layouts/footer" %>

  </body>
</html>
