<!doctype html>
<html>
  <head>
    <%= partial "layouts/head" %>
  </head>

  <body class="<%= page_classes %>">

    <%= partial "layouts/google_tag_manager" %>

    <% hero_image = current_page.data.hero_image %>
    <%# Open hero block div with image if it has been specified %>
    <% if hero_image = current_page.data.hero_unit.hero_image %>
      <div class="hero hero-image" style="background-image: url('/images/<%= hero_image %>');">
    <% else %> <%# otherwise div without image %>
      <div class="hero hero-no-image">
    <% end %>
      
      <%= partial "layouts/header" %> 
  
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-10">
              <h1><%= current_page.data.hero_unit.big_heading %></h1>
              <p><%= current_page.data.hero_unit.tag_line %></p>
              <% if btn = current_page.data.hero_unit.button %>
                <a href="<%= btn.link %>" class="btn"><%= btn.text %></a>
              <% end %>
            </div>
          </div>
        </div>
    </div>

    <div class="container">
      <% current_page.data.card_sets.each do |card_set| %> 
        <div class="row card-set"> 
          <div class="col-md-3">
            <hr>
            <h2><%= card_set.title %></h2>
            <p>
              <%= card_set.description %>
            </p>
          </div>
        
          <div class="col-md-8 col-md-offset-1">
            <%= partial("layouts/flex_cards", :locals => { :cards => card_set.cards }) %>
          </div>
        </div>
      <% end %>
    </div>

    <%= partial "layouts/footer" %>

    <% if current_page.data.hero_unit and current_page.data.hero_unit.hero_image %>
      <%= javascript_include_tag "template/landing_page_header" %>
    <% end %>

  </body>
</html>
