<!doctype html>
<html>
  <head>
    <%= partial "layouts/head" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "layouts/header" %>

    <div class="container">
  
      <div class="row">    
        <div class="col-md-10 col-md-offset-1"> 
          <%= partial "layouts/breadcrumb_trail" %> 
          <%= yield %>
        </div>
      </div>

      <div class="row card-set">
        <div class="col-md-10 col-md-offset-1">
          <%= partial("layouts/flex_cards", 
                :locals => { :cards => current_page.data.cards }) %>
        </div>
      </div> 

    </div>

    <%= partial "layouts/footer" %>

    <%= javascript_include_tag "page/tocbot_init_script" %>
    
  </body>
</html>
