<!DOCTYPE html>
<html>
  <head>
    <%= partial "layouts/head" %>
  </head>

  <body class="<%= page_classes %>">
      
    <%= partial "layouts/header" %>

    <div class="container">
      <%= partial "layouts/side_nav" %>

      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <%= yield %>
        </div>
      </div> <!-- /.row -->

      <div class="row">
        <div class="col-md-9 col-md-offset-3 js-toc-content">
        
        <%# swagger = data.petstore_deref %>
        <% swagger = data.petstore %>
        <% definitions = swagger.definitions %>

        <!-- Summary Block --> 
        <% info = swagger.info %>
        <h2><%= info.title %></h2>
        <p><%= info.description %></p>

        <p><strong>Version:</strong> <%= info.version %></p>
        <p><strong>Contact:</strong> <%= info.contact.email %></p>
        <p><strong>Terms of Service:</strong> <a href="<%= info.termsOfService %>"><%= info.termsOfService %></a></p>
        <p><strong>License:</strong> <a href="<%= info.license.url %>"><%= info.license.name %></a></p>

        <!-- Paths --> 
        <h2>Paths</h2>
        <% paths = swagger.paths %>
        <% paths.each do |path| %>
          <% path_name = path.first %>
          <h3><%= path_name %></h3>

          <!-- Operations --> 
          <% operations = path[1] %> 
          <% operations.each do |op| %> 
            <% op_name = op[0] %>
            <% op_obj = op[1] %>
            
            <!-- Collapsed heading --> 
            <div class="operation-heading">
              <h4>
                <span class="operation <%= op_name %>">
                  <%= op_name.upcase %>
                </span> 
                <%= path_name %>
              </h4>
              
              <span class="heading-body">
                <span class="summary"><%= op_obj.summary %></span>
                <div class="more-icon"><%= svg :chevron, :classes => ['rotate-90'] %></div>
              </span>
            </div>

            <div class="operation-content">

              <!-- Description -->
              <h5>Description</h5> 
              <% if op_obj.description and op_obj.description != "" %>
                <p><%= op_obj.description %></p>
              <% else %>
                <p><em>No description</em></p>
              <% end %>

              <!-- Parameters table -->
              <h5>Parameters</h5>
              <% if not op_obj.parameters.empty? %>
                <%= partial "layouts/_swagger/parameters", 
                    :locals => { :params => op_obj.parameters, 
                                  :definitions => definitions,
                                  :path => path_name.gsub(/[^a-z ]/,''), 
                                  :operation => op_name }  %>
              <% else %>
                <p><em>No parameters</em></p>
              <% end %>

              <!-- Responses table -->
              <h5>Responses</h5>
              <% responses = op_obj.responses %> 
              <% if responses %>
              <table class="table table-highlight">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <% responses.each do |response| %>
                  <tr>
                    <td><%= response[0] %></td>
                    <td><%= response[1].description %></td>
                  </tr>
                <% end %>
              </tbody>
              </table>
              <% else %>
                <p><em>No responses</em></p> 
              <% end %>

            </div> <!-- /.operation-content -->

            <% end %> <!-- methods.each -->
          <br>
          <% end %> <!-- paths.each -->
          </div>
        </div>
      </div> <!-- /.container -->
    </div>

    <%= partial "layouts/footer" %>

    <%= javascript_include_tag "page/swagger" %>
    <%= javascript_include_tag "page/tocbot_init_script" %>
  </body>
</html>