<!doctype html>
<html>
  <head>
    <%= partial "layouts/head" %>
  </head>

  <body class="<%= page_classes %>">
      
    <%= partial "layouts/header" %>

    <div class="container">

      <%= partial "layouts/breadcrumb_trail" %> 
      <%= partial "layouts/edit_on_github" %>

      <%= partial "layouts/side_nav" %>

      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <div class="markdown">
            <%= yield %>

            <% current_page.data.includes && current_page.data.includes.each do |include| %>
              <%= partial "includes/#{include}" %>
            <% end %>
          </div>
        </div>
      </div> <!-- /.row -->

      <div class="js-toc-content">
      <div class="row">
        <div class="col-md-9 col-md-offset-3">
        
        <!-- Swagger object fields -->
        <% swagger = get_data_from_frontmatter current_page.data.swagger %>
        <% info         = swagger.info %>
        <% security_defs= swagger.securityDefinitions %>
        <% definitions  = swagger.definitions %>
        <% paths        = swagger.paths %>

        <!-- Summary Block --> 
        <h2><%= info.title %></h2>
        <%= render_markdown info.description %>
        
        <p><strong>Version:</strong> <%= info.version %></p>
        
        <% if info.contact %> 
        <p><strong>Contact:</strong> 
        <p><%= info.contact.name  if info.contact.name %></p>
        <p><%= info.contact.url   if info.contact.url %></p>
        <p><%= info.contact.email if info.contact.email %></p>
        <% end %> 

        <% if info.termsOfService %>
        <p>
          <strong>Terms of Service:</strong> 
          <a href="<%= info.termsOfService %>"><%= info.termsOfService %></a>
        </p>
        <% end %>
        
        <% if info.license %>
        <p>
          <strong>License:</strong> 
          <a href="<%= info.license.url %>"><%= info.license.name %></a>
        </p>
        <% end %> 

        </div>
      </div>
      <div class="row">
        <div class="col-md-9 col-md-offset-3">

        <!-- Security --> 
        <h2>Security</h2>
        <div class="security-definition">
          <% security_defs.each do |definition| %> 
            <% def_name = definition[0] %>
            <% def_body = definition[1] %>
            <div>
              <h3><%= def_name %></h3> 
              <span>(<%= def_body.type %>)</span>
            </div>

            <p><%= def_body.description %></p>

            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>In</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= def_name %></td>
                  <td><%= def_body.in %></td>
                </tr>
              </tbody>
            </table>

          <% end %> 
        </div>

        <!-- Paths -->
        <h2>Paths</h2>
        <% paths.each do |path| %>
          <div class="row">
          <div class="col-md-12">
          
          <% if path[0].start_with?('/') %> <%# path item object %> 
            <%= partial "layouts/_swagger_partials/path", :locals => {
                :path => path, 
                :definitions => definitions
                } %>
            <% end %> <%# else it's a x-* style extension to the spec %> 

          </div>
          </div>
        <% end %>
        </div>
      </div>
      </div>
    </div> <!-- /.container -->
    

    <%= partial "layouts/footer" %>

    <%= javascript_include_tag "page/swagger" %>
    <%= javascript_include_tag "page/tocbot_init_script" %>
  </body>
</html>