<!doctype html>
<html>
  <head>
    <%= partial "layouts/head" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "layouts/header" %>

    <div class="container">
      <%= partial "layouts/side_nav" %>

      <div class="row">
        <div class="col-md-9 col-md-offset-3 js-toc-content">
          <%= yield %> 
          
          <% current_page.data.includes && current_page.data.includes.each do |include| %>
            <%= partial "#{current_page.data.includes_root}/includes/#{include}" %>
          <% end %> 
        </div>
      </div>
    </div>

    <%= partial "layouts/footer" %>


    <script>
    tocbot.init({
      // Where to render the table of contents.
      tocSelector: '.js-toc',
      // Where to grab the headings to build the table of contents.
      contentSelector: '.js-toc-content',
      // Which headings to grab inside of the contentSelector element.
      headingSelector: 'h1, h2, h3, h4, h5',
      // How many heading levels should not be collpased.
      // For example, number 6 will show everything since
      // there are only 6 heading levels and number 0 will collpase them all.
      // The sections that are hidden will open
      // and close as you scroll to headings within them.

      collapseDepth: 1,

      // Headings that match the ignoreSelector will be skipped.
      ignoreSelector: '.js-toc-ignore',

      // Main class to add to links.
      //linkClass: '',

      // Extra classes to add to links.
      //extraLinkClasses: '',

      // Class to add to active links,
      // the link corresponding to the top most heading on the page.
      //activeLinkClass: '',

      // Main class to add to lists.
      //listClass: 'nav-vertical',

      // Extra classes to add to lists.
      //extraListClasses: '',

      // Class to add to list items.
      //listItemClass: '',
    });
    </script>

  </body>
</html>
