<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    
    <title>V2</title>

    <%= stylesheet_link_tag :bambora %>
    <%= stylesheet_link_tag :portal %>
    <%= stylesheet_link_tag :general %>
    <%= stylesheet_link_tag :tutorial %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <% if language_tabs %>
      <script>
        $(function() {
          setupLanguages(<%= language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>);
        });
      </script>
    <% end %>
  </head>

  <body class="<%= page_classes %>">

    <%= partial "layouts/header" %>

    <div class="container">
      <%= partial "layouts/side_nav" %>

      <div class="" style="position: relative; margin-left: 300px">
        <div class="content js-toc-content">
          <%= yield %>
          <% current_page.data.includes && current_page.data.includes.each do |include| %>
            <%= partial "#{current_page.data.includes_root}/includes/#{include}" %>
          <% end %>
        </div>
        
      </div>

    </div>
    
    <%= partial "layouts/footer" %>


    <script>
    tocbot.init({
      // Where to render the table of contents.
      tocSelector: '.js-toc',
      // Where to grab the headings to build the table of contents.
      contentSelector: '.js-toc-content',
      // Which headings to grab inside of the contentSelector element.
      headingSelector: 'h1, h2, h3, h4, h5',
      // How many heading levels should not be collpased.
      // For example, number 6 will show everything since
      // there are only 6 heading levels and number 0 will collpase them all.
      // The sections that are hidden will open
      // and close as you scroll to headings within them.

      collapseDepth: 1,

      // Headings that match the ignoreSelector will be skipped.
      ignoreSelector: '.js-toc-ignore',

      // Main class to add to links.
      //linkClass: '',

      // Extra classes to add to links.
      //extraLinkClasses: '',

      // Class to add to active links,
      // the link corresponding to the top most heading on the page.
      //activeLinkClass: '',

      // Main class to add to lists.
      //listClass: 'nav-vertical',

      // Extra classes to add to lists.
      //extraListClasses: '',

      // Class to add to list items.
      //listItemClass: '',
    });
    </script>

  </body>
</html>
