<!doctype html>
<html>
  <head>
    <%= partial "layouts/head" %>
  </head>

  <body class="<%= page_classes %>">
  
    <%= partial "layouts/header" %>

    <div class="container">
      
      <%= partial "layouts/breadcrumb_trail" %> 
      <%= partial "layouts/edit_on_github" %>

      <%= partial "layouts/side_nav" %>

      <div class="row">
        <% if current_page.data.navigation.toc == "none" %>
          <div class="col-md-12">
        <% else %>
          <div class="col-md-9 col-md-offset-3 js-toc-content">
        <% end %>

          <div class="markdown">
            <%= yield %> 
          
            <% current_page.data.includes && current_page.data.includes.each do |include| %>
              <%= partial "includes/#{include}" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= partial "layouts/footer" %>

    <%= javascript_include_tag "page/tocbot_init_script" %>

  </body>
</html>
