<!doctype html>
<html>
  <head>
    <%= partial "layouts/head" %>
  </head>

  <body class="<%= page_classes %>">
  
    <%= partial "layouts/header" %>

    <div class="container">
      
      <%= partial "layouts/breadcrumb_trail" %> 

      <%= partial "layouts/toc" %>
  
      <div class="row">
        <div class="col-md-9 col-md-offset-3 js-toc-content">

          <%= yield %> 
          
          <% current_page.data.includes && current_page.data.includes.each do |include| %>
            <%= partial "#{current_page.data.includes_root}/includes/#{include}" %>
          <% end %> 
        </div>
      </div>
    </div>

    <%= partial "layouts/footer" %>

    <%= javascript_include_tag "page/tocbot_init_script" %>

  </body>
</html>
