<%# 
  Partial to render the parameters for a single operation on a 
  path in swagger file. Usd in the _swagger_partials/_path partial. 
%> 

<%# NOTE: Unsure why $ref value needs :to_h, :to_s to be called 
on it. No other values do. Seems like a weird bug? %>

<div class="parameters">

  <table class="table table-highlight">
    
    <!-- Table columns --> 
    <thead>
      <tr> 
        <th>In</th>
        <th>Name</th>
        <th>Description</th>
        <th>Required</th>
        <th>Schema</th>
      </tr>
    </thead>

    <!-- parameters in table --> 
    <% schema = false %>
    <% schema_title = '' %>
    <tbody>
      <% params.each do |param| %> 
        <% if param.key?("name") %>
          <tr>
            <%# easy fields %> 
            <td><%= param.in %></td>
            <td><%= param.name %></td>
            <td><%= param.description %></td>
            <td><%= param.required %></td>

            <%# type field, dependent on param.in %>
            <% if param.in == "body" %>
              <% if param.schema.to_h.key?("$ref") %> <%# external def. %> 
                <% ref = param.schema.to_h["$ref"] %>
                <% schema_title = ref.split('/').last %>
                <% schema = definitions["#{schema_title}"] %>
              <% else %>
                <% schema_title = param.schema.type %> 
                <% schema = param.schema %>
              <% end %> 
              <td><%= schema_title %></td>
            <% else %> 
              <td><%= param.type %></td>
            <% end %>  
          </tr>
        <% end %> <%# else external $ref %> 
      <% end %> 
    </tbody>
  </table>

  <% if schema %>
    <h6><%= schema_title %> Schema</h6>

    <%= partial "layouts/_swagger_partials/schema", 
        :locals => { 
          :schema_title => schema_title, 
          :schema_body => schema, 
          :definitions => definitions
        }
    %> 
<% end %> 

</div> <!-- ./parameters -->
