<%# print extra primtitive property information %>
<%# requires local parameters: 
        :property => the primtive property object
%>

<span class="property-info">

  <% if property.maxLength or property.enum or property.description %>
    <span class="property-type expandable">
      <a href="#"><%= property.type %></a>
    </span>
  <% else %> 
    <span class="property-type">
      <%= property.type %>
    </span>
  <% end %>

  <span class="property-body">

    <% if property.enum %>
      <span class="property-detail">
        <a class="enum-link" href="#">Enum</a>
        <span>(<%= property.enum.length %>)</span> 
        <span class="enum-list">
          <% property.enum.each do |enum| %>
            <span><%= enum %></span>
          <% end %>
        </span>
      </span>
    <% end %>

    <% printed_fields = ['format', 'default', 'maximum', 'minimum', 
      'minLength', 'maxLength', 'pattern', 'maxItems', 'minItems', 
      'description'] %>

    <% printed_fields.each do |field| %>
      <% if property[field] %>
        <span class="property-detail">
          <%= field %>: <%= property[field] %>
        </span>
      <% end %>
    <% end %>

  </span>

</span>