<%# 
  Partial to render the responsese for a single operation 
  on a path in a swagger file. Used in the _swagger_partials/_path 
  partial. 
%> 

<div class="responses">

<table class="table table-highlight">
  <thead>
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th>Schema</th>
  </tr>
  </thead>

  <tbody>
  <% schemas = Set.new %>
  <% responses.each do |response| %>
    <% response_code = response[0] %>
    <% response_body = response[1] %>
    <tr>
      <td><%= response_code %></td>
      <td><%= response_body.description %></td>

      <%# response has $ref to definition %> 
      <% if response_body.schema.has_key?("$ref") %>
        <% response_schema = response_body.schema["$ref"].split('/').last %> 
        <% schemas.add(response_schema) %>
        <td>
          <a href="#<%= make_html_safe "#{operation}-#{path_name}-#{response_schema}" %>">
            <%= response_schema %>        
          </a>
        </td>

      
      <%# Response is an array with $ref to items %>
      <% elsif response_body.schema.has_key?("type") and 
          response_body.schema.type == "array" %> 
          <% schemas.add(response_body.schema.items["$ref"].split('/').last) %>
          <td>Array of <%= response_body.schema.items["$ref"].split('/').last %></td>
      
      <%# response is 'inline' %>
      <% else %>
        <%# Create formatted array for schema to pass to the partial %> 
        <% formatted_schema = [] %>
        <% formatted_schema[0] = "#{response_code} Response" %>
        <% formatted_schema[1] = response_body.schema %>
        <% schemas.add(formatted_schema) %>
        <td><%= response_code %> Response</td>
      <% end %> 
    </tr>
  <% end %>
  </tbody>
</table>

<% if schemas %> 
  <table class="table">
    <thead>
      <tr>
        <th>Response Schema Definitions</th>
      </tr>
    </thead>

    <tbody>
      <% schemas.each do |schema| %>
      <tr>
        <td>
          <div class="schemas">
            <%#= schema %>
            <%= partial "layouts/_swagger_partials/schema",
              :locals => {
                :schema_title => schema, 
                :definitions => definitions,
                :operation => operation, 
                :path_name => path_name
              } %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

</div>