<%# NOTE: Unsure why $ref value needs :to_h, :to_s to be called 
on it. No other values do. Seems like a weird bug? %>

<div class="parameters">

<table class="table table-highlight">
<thead>
    <tr> 
        <th>In</th>
        <th>Name</th>
        <th>Description</th>
        <th>Required</th>
        <th>Type</th>
    </tr>
</thead>
<tbody>
    <% schemas = [] %> 
    <% params.each do |param| %>
    <% if param.key?("schema") %>
        <% if param.schema.key?("type") %>
            <% schemas << param.schema.items.to_h["$ref"].to_s.split('/').last %>
        <% else %>
            <% schemas << param.schema.to_h["$ref"].to_s.split('/').last %>
        <% end %>
    <% end %>
    <tr>
        <td><%= param.in %></td>
        <td><%= param.name %></td>
        <td><%= param.description %></td>
        <td><%= param.required %></td>
        <td><%= get_swagger_param_type_html(path, operation, param) %></td>
    </tr>
    <% end %>
</tbody>
</table>

<% schemas.each do |schema| %>
    <a class="schema-link" id="<%= "#{path}-#{operation}-#{schema}" %>-link" href="#"><h6><%= schema %></h6></a>

    <div class="schema" id="<%= "#{path}-#{operation}-#{schema}" %>-link-code">
    <p class="obj"><%= schema %> {</p>
    <% definitions["#{schema}"].properties.each do |prop| %>
        <p class="property">
            <span class="name"><%= prop[0] %></span> 
            <span class="obj">:</span>
            <% if prop[1].key?("type") %>
                <span class="desc"><%= prop[1].type %></span>
            <% else %>
                <% schema = prop[1].to_h["$ref"].to_s.split('/').last %>
                <% schemas << schema %>
                <span class="desc"><a class="schema-link" id="<%= "#{path}-#{operation}-#{schema}" %>-link" href="#"><%= schema %></a></span>
            <% end %>
        </p>
    <% end %>
    <p class="obj">}</p>
    </div> <!-- ./schema -->    
    
<% end %>

</div> <!-- ./parameters -->
