---
title: Forms
layout: tutorial

navigation:
    header: portal.self_doc_header 
    footer: portal.self_doc_footer
    toc: none
    header_active: Forms

sproutpos_sdk_request_email: 'ethan.wipond@beanstream.com'
---

<h1>Request Access to SproutPOS SDK</h1>

<% form_tag 'https://formspree.io/'+current_page.data.sproutpos_sdk_request_email, 
    :id => 'requestSproutSDK_form', :class => 'form-group formspree-form', :method => 'POST' do %> 

  <div class="form-group">
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name, :placeholder => 'Your first name', :id => 'first_name', :required => true %>
  </div>

  <div class="form-group">
  <%= label_tag :last_name %> 
  <%= text_field_tag :last_name, :placeholder => 'Your last name', :id => 'last_name', :required => true %> 
  </div>

  <div class="form-group">
  <%= label_tag :company %>
  <%= text_field_tag :company, :placeholder => 'Your company', :id => 'company', :required => true %> 
  </div>

  <div class="form-group">
  <%= label_tag :_replyto, :caption => 'Email: ' %> 
  <%= email_field_tag :_replyto, :placeholder => 'Your email', :id => '_replyto', :required => true %> 
  </div>

  <div class="form-group">
  <%= label_tag :country %> 
  <div id="country-select" class="dropdown dropdown-open-on-hover" role="listbox">
    <div class="value">Your country</div>
    <ul>
      <li><a href="#">Canada</a></li>
      <li><a href="#">United States</a></li>
    </ul>
  </div>
  </div>

  <%= hidden_field_tag :country %>

  <div class="checkbox">
  <%= check_box_tag :android, :id => 'android', :value => 'True' %>
  <%= label_tag :android, :caption => 'I\'d like access to the Andorid SDK' %>  
  </div>

  <div class="checkbox">
  <%= check_box_tag :iOS, :id => 'iOS', :value => 'True' %>
  <%= label_tag :iOS, :caption => 'I\'d like access to the iOS SDK' %>
  </div>

  <div class="checkbox">
  <%= check_box_tag :license_areement, :id => 'license_areement', :value => 'True', :required => true %>
  <%= label_tag :license_areement, :caption => 'I agree to the license agreement', :required => true %> 
  </div>

  <%= hidden_field_tag :_subject, :value => 'SproutPOS SDK Request' %>
  <%= hidden_field_tag :_cc %>
  <%= hidden_field_tag :_to, :value => current_page.data.sproutpos_sdk_request_email %>

  <%= submit_tag 'Request SproutPOS SDK Access', :class => "btn btn-default" %> 
<% end %> 
<div class='message block-highlight hidden'><p></p></div>

<%= javascript_include_tag 'page/formspree' %>
