---
title: Partner Form
layout: tutorial

navigation:
    header: na.tocs.na_nav_header
    footer: na.tocs.na_nav_footer
    toc: none
    header_active: Forms

partner_account_request_email: 'example@example.com'
---

<h1>Request a Partner Account</h1>

<% form_tag "https://formspree.io/#{current_page.data.partner_account_request_email}",
    :id => 'requestPartnerAccount_form', :class => 'form-group formspree-form', :method => 'POST' do %>

  <div class="form-group">
  <%= label_tag :name %>
  <%= text_field_tag :name, :placeholder => 'Your name', :id => 'name', :required => true %>
  </div>

  <div class="form-group">
  <%= label_tag :_replyto, :caption => 'Email: ' %>
  <%= email_field_tag :_replyto, :placeholder => 'Your email', :id => '_replyto', :required => true %>
  </div>

  <div class="form-group">
  <%= label_tag :description %>
  <%= text_area_tag :description, :placeholder => 'Brief description of how you intend to use the API', :id => 'description', :required => true %>
  </div>

  <%= hidden_field_tag :_subject, :value => 'Partner Account Request' %>
  <%= hidden_field_tag :_cc %>
  <%= hidden_field_tag :_to, :value => current_page.data.partner_account_request_email %>

  <%= submit_tag 'Request Partner Account', :class => "btn btn-default" %>
<% end %>
<div class='block-highlight message hidden'><p></p></div>

<%= javascript_include_tag "na/formspree" %>
