<%#
  Left-hand navigation pane.

  There are Top Categories and Sub-Categories.
  Any Top Category listed can have zero or more Sub-Categories.
  If a Category does not have any Sub-Categories then it is given a content-div that will be used as the ToC. This div will have a data tag to identify it. It is up to the markdown files to state what that data-nav-title is so the ToC can be generated there. TocBot will generate the ToC based on the Headings in the markdown file.

  nav:  [
          {file: "category1", title: "Category 1 Title", sub: 
            [ 
              {file: "category1_sub1", title: "Sub1 Title"}, 
              {file: "category1_sub2", title: "Sub2 Title"},
              {file: "some_name",      title: "Sub3 Title"} 
            ] 
          },
          {file: "category2", title: "Category 2 Title"},
          {file: "category3", title: "Category 3 Title"}
        ]
%>

<% if current_page.data.nav %>
  <% nav = data["#{current_page.data.nav}"].toc %>
<% else %>
  <% nav = data.nav.toc %>
<% end %>

<% parent = current_page.data.parent %>

<div class="nav-vertical nav-sticky">
  <ul>
  <% nav.each do |category| %>
    <li data-nav-title="<%= category.file %>" <% if parent && parent==category.file %>class="active"<% end %> >
      <a href="<%= category.file %>.html"><%= category.title %></a>
      <% if category.subs? %>
        <ul class="nav-sub">
        <% category.subs.each do |sub| %>
          <li><a href="<%= sub.file %>.html"><%= sub.title %></a><div data-nav-title="<%= sub.file %>" class="js-toc"></div></li>
        <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
  </ul>

  <!--ul>
    <li class="active">
      <a href="category1.html" data-nav-title="category_1">Category 1</a>
      <ul class="nav-sub">
        <li><a href="category1_sub1.html">Sub Heading 1</a><div data-nav-title="category1_sub1" class="js-toc"></div></li>
      </ul>
    </li>
    <li><a href="category2.html">Category 2</a><div data-nav-title="category2"></div></li>
  </ul-->
</div>